/*Start Our FrameWork*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'open sans' , sans-serif; }

.container {
  width: 1200px;
  margin: auto;
  position: relative; }

.table {
  height: 100%;
  display: table; }

.table-row {
  display: table-row; }

.text-center {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.shape {
  font-size: 30px; }

.main-color {
  color: #f7600e; }

.main-backgroundcolor {
  background-color: #f7600e; }

.overlay {
  background: rgba(49, 55, 61, 0.6);
  width: 100%;
  height: 100%; }

.hidden {
  display: none; }

::-webkit-input-placeholder {
  font-size: 14px; }

:-moz-input-placeholder {
  font-size: 14px; }

:-ms-input-placeholder {
  font-size: 14px; }

/*End Our FrameWork*/
/*Start Header*/
.header {
  background: url("../images/bg.jpg");
  color: #FFF; }
  .header .navbar {
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .header .navbar .shape i {
      margin-right: 10px; }
    .header .navbar .links {
      float: right; }
      .header .navbar .links i {
        margin-left: 5px; }
      .header .navbar .links a {
        color: #FFF;
        border-bottom-color: transparent;
        text-decoration: none; }
        .header .navbar .links a:hover {
          color: #f7600e; }
  .header .intro h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800; }
  .header .intro p {
    margin: 10px 0 40px;
    line-height: 1.9;
    font-size: 20px;
    color: #E2E2E2; }
  .header .buttons button {
    background: transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border: 1px solid #909090;
    margin: 0 8px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer; }
    .header .buttons button:hover {
      background-color: #f7600e;
      border: 1px solid #f7600e;
      color: #FFF; }
  .header .arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0; }
    .header .arrow i {
      border: 2px solid #787878;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      line-height: 32px;
      cursor: pointer; }
      .header .arrow i:hover {
        background-color: #f7600e;
        border-color: transparent; }

/*End Header*/
/*Start Features*/
.features {
  padding: 80px 0;
  overflow: hidden; }
  .features .box {
    width: 22%;
    float: left;
    margin-right: 4%; }
    .features .box:last-child {
      margin-right: 0; }
    .features .box i {
      color: #f7600e;
      border: 1px solid #ccc;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      line-height: 120px; }
      .features .box i:hover {
        background-color: #f7600e;
        border: 1px solid #f7600e;
        color: #FFF; }
    .features .box h3 {
      text-transform: uppercase;
      font-weight: normal;
      color: #505050; }
    .features .box p {
      line-height: 2;
      color: #888; }

/*End Features*/
/*Start Subscribe*/
.subscribe {
  background: url("../images/cook.jpg"); }
  .subscribe form {
    padding: 100px 0;
    width: 700px;
    margin: auto;
    text-align: center; }
    .subscribe form input[type="email"] {
      padding: 0 10px;
      width: 320px;
      font-size: 20px;
      border-radius: 10px;
      position: relative;
      top: 2px;
      border: none;
      height: 37px;
      line-height: 37px; }
    .subscribe form button {
      padding: 10px;
      width: 200px;
      border: 1px solid #f7600e;
      background-color: #f7600e;
      border: none;
      color: #FFF;
      border-radius: 10px;
      margin-left: 20px;
      font-size: 14px; }

/*End Subscribe*/
/*Start Our Work*/
.our-work {
  padding: 50px 0; }
  .our-work h2 {
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0; }
    .our-work h2 ~ p {
      line-height: 2;
      margin: 10px 0 40px; }
  .our-work .show-more {
    background: transparent;
    border: 1px solid #CCC;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #555; }
    .our-work .show-more:hover {
      background-color: #f7600e;
      border: 1px solid #f7600e;
      color: #fff; }
  .our-work .items-box {
    overflow: hidden; }
    .our-work .items-box .item {
      float: left;
      width: 30%;
      overflow: hidden;
      margin-left: 1.33333%;
      margin-bottom: 12px;
      border-radius: 10px;
      position: relative;
      height: 403px; }
      .our-work .items-box .item:hover .over {
        display: block; }
      .our-work .items-box .item .over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(247, 96, 14, 0.9);
        color: #fff;
        display: none; }
        .our-work .items-box .item .over h4 {
          font-size: 24px;
          margin-top: 80px;
          margin-bottom: 0; }
        .our-work .items-box .item .over p {
          margin-top: 10px;
          margin-bottom: 50px;
          line-height: 2; }
        .our-work .items-box .item .over button {
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          width: 180px;
          padding: 10px;
          border-radius: 10px; }
          .our-work .items-box .item .over button:hover {
            background-color: #fff;
            border: 1px solid #fff;
            color: #f7600e; }

/*End Our Work*/
/*Start Testimonials*/
.testim {
  background: url(../images/d.jpg); }
  .testim .container {
    min-height: 392px; }
  .testim .client {
    padding: 50px 0;
    color: #fff;
    font-size: 20px; }
    .testim .client img {
      border-radius: 50px; }
    .testim .client p {
      line-height: 2;
      font-style: italic; }
  .testim .fa-chevron-right,
  .testim .fa-chevron-left {
    position: absolute;
    top: 50%;
    color: #999;
    cursor: pointer; }
    .testim .fa-chevron-right:hover,
    .testim .fa-chevron-left:hover {
      color: #f7600e; }
  .testim .fa-chevron-right {
    right: 0; }
  .testim .fa-chevron-left {
    left: 0; }

/*End Testimonials*/
/*Start kindity*/
.kindity {
  height: 700px;
  padding-top: 90px; }
  .kindity .left-kindity {
    width: 50%;
    float: left;
    line-height: 2; }
    .kindity .left-kindity h4 {
      font-weight: 600;
      line-height: 1.5em;
      font-size: 36px; }
    .kindity .left-kindity p {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 24px;
      max-width: 495px;
      color: #777777; }
    .kindity .left-kindity .a1,
    .kindity .left-kindity .a2,
    .kindity .left-kindity .a3 {
      width: 33%;
      float: left; }
      .kindity .left-kindity .a1 h4,
      .kindity .left-kindity .a2 h4,
      .kindity .left-kindity .a3 h4 {
        font-size: 24px;
        font-weight: 600;
        color: #222222;
        margin-bottom: 5px;
        margin-top: 10px; }
      .kindity .left-kindity .a1 p,
      .kindity .left-kindity .a2 p,
      .kindity .left-kindity .a3 p {
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        color: #777777;
        margin-bottom: 0px; }
  .kindity .right-kindity {
    top: 50%;
    right: 50%;
    width: 50%;
    float: left; }

/*End Our Team*/
/*Start Footer*/
.footer {
  background-color: #232323;
  color: #989898;
  padding: 40px 0;
  overflow: hidden; }
  .footer .col {
    padding-top: 70px;
    width: 25%;
    float: left; }
    .footer .col h2 {
      color: #FFF;
      font-weight: normal;
      font-size: 18px; }
    .footer .col p {
      margin-top: 35px;
      line-height: 1.6; }
    .footer .col .contact {
      display: block;
      position: relative;
      box-sizing: border-box;
      align-items: stretch;
      width: 100%;
      line-height: 24px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      color: #989898; }
    .footer .col input {
      width: 100%;
      border: 1px solid #989898;
      font-size: 13px;
      line-height: 30px;
      padding: 0 40px 0 20px;
      height: 40px;
      color: #FFF;
      background: transparent;
      font-family: inherit; }
    .footer .col button {
      background: #f7600e;
      color: #fff;
      font-weight: 300;
      line-height: 34px;
      cursor: pointer;
      position: absolute;
      right: 0px;
      top: 0px;
      display: inline-block;
      font-weight: 400;
      border: 1px solid transparent;
      padding: 0.12rem 0.5rem;
      font-size: 1.4rem; }
    .footer .col .img {
      margin-top: 30px; }
      .footer .col .img img {
        padding: 5px; }
  .footer .tags span {
    display: inline-block;
    margin-right: 80px;
    margin-top: 25px;
    width: 30px; }
  .footer .border_line {
    padding: 10px;
    border-bottom: 1px solid #989898; }
  .footer .fotterb {
    overflow: hidden; }
    .footer .fotterb .copyright {
      margin-top: 30px;
      float: left; }
    .footer .fotterb .icon {
      margin-top: 30px;
      float: right; }
      .footer .fotterb .icon i {
        display: inline-block;
        color: #EEE;
        margin: 10px;
        width: 20px; }

/*End Footer*/
/*Classes To Extend*/
.header, .subscribe, .testim {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header .buttons button, .features .box i, .our-work .show-more, .our-work .items-box .item .over, .our-work .items-box .item .over button {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

/*# sourceMappingURL=style.css.map */
