/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
.bgcolor {
    color:#FFF;

}
.bgcolor:hover{
    text-decoration: none;
    color: #CCC;
}