body{
    background-color: #232323;
    color: azure;
    margin: 0;
    font-family:"Montserrat","Avenir";
}
.square{
    width: 30%;
    float: left;
    margin: 1.66%;
    padding-bottom: 30%;
   background-color:#f7600e;
   border-radius: 25px;
   transition: background 0.5s;
}
#container {
    max-width: 600px;
    margin: 20px auto;
}
h2{
    text-align: center;
    color: white;
    font-weight: normal;
    background-color: steelblue;
    margin: 0 auto;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
}
#colorDisplay{
    font-size: 200%;
}
#message{
    display: inline-block;
    width:20%;
    color:teal;
}
#stripe{
    background-color: white;
    color: black;
    height: 30px;
    text-align: center;
}
button{
   background: none;
   border: none;
   outline: transparent;
   text-transform: uppercase;
   height: 100%;
   font-weight: 700;
   letter-spacing: 1px;
   color: steelblue;
   padding: 6px;
   font-size: inherit;
   transition: all 0.3s;
}

button:hover{
    background-color: steelblue; 
    color: white;
}
.selected{
    background-color: steelblue; 
    color: white; 
}