body{
    padding: 70px;
}

.jumbotron{
    color:#2c3e50 !important;
    background-color: #ecf0f1 !important;
}
.navbar-inverse
{
    background-color: #2c3e50 !important;
}
a{
    color: white !important;
}